#elem {
	border-width: 5px;
	border-style: double;
	border-color: purple;
	width: 200px;
	height: 150px;
}
#bocks {
	border-width: 5px;
	border-style: dotted;
	border-color: orange;
	width: 200px;
	height: 140px;
}