#menu {
	display: flex;
}
#menu a {
	
	padding: 10px;
	font: 15px Arial;
	text-decoration: none;
	color: #370169;
	border: 1px solid #370169;
	background-color: orange;
}
#menu a:hover, #menu a.active {
	color: blue;
	border: 1px solid blue;
	background-color: #F5F6FA;
}